

.vscode/
.idea/

/db/*
!/db/.gitignore
!/db/migrations/
!/db/migrations/**
!/db/migrate.php

/www/uploads/*
!/www/uploads/.gitignore

.DS_Store
*/.DS_Store

/www/application/third_party/htmltopdf/_tcpdf_6.3.2/cache/*
/www/.env
*_dump_*.sql
*.sql.gz
tickets/
