# Application Settings
ENVIRONMENT=production
ENCRYPTION_KEY=
LOG_THRESHOLD=1

# Database Settings
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_DRIVER=mysqli

# Base URL Settings (For live production website, e.g. https://yourdomain.com/)
BASE_URL=
BASE_URL_MEETING=
BASE_URL_CLIENT=
