.DS_Store

.vscode/
.idea/

cache/*

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

/vendor/

uploads/*
!uploads/.gitignore
!uploads/*/.gitignore


# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

client/application/cache/
client/application/logs/*
!client/application/logs/index.html

officer/application/cache/
officer/application/logs/*
!officer/application/logs/index.html

meeting/application/cache/
meeting/application/logs/*
!meeting/application/logs/index.html

.env
